body {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 14px;
    color: black;
    background-color: white;
    background-image: url("bg.png");
}

header {
    background-color: white;
}

footer {
    background-color: white;
    text-align: center;
}

h1 {
    text-align: center;
    color: rgb(26, 21, 21);
    position: relative;
}

.calculatrice {
    background-color: rgb(51, 49, 49);
    width: 75%;
    height: 100%;
    position: relative;
    left: 12.5%;
    border-radius: 10px;
}

.form {
    width: 50%;
    height: 55px;
    position: relative;
    top: 10px;
    left: 25%;
}
